html,body,.container-fluid{
	height: 100%;
}
.circle-div{
	border-radius: 200px;
	background-color: #34445b;
	height: 150px;
	width: 150px;
}

svg{
    align-self: center;   
	margin: 0 auto;
}

.indexItems{
	display: inline-block;
}

.code-snippet{
	background: black;
	color: #ffffff;
}


/* sidebar*/

#sidebar{
	width: 250px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #438bad;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

.nav-link.disabled{
	color: #9bafb5;
	background-color: #ffffff;

}
.content{
	width: calc(100% - 250px);
}