<html>
    <head>
        <title> Transaction editor </title>
        <link rel="stylesheet" type="text/css" href="../css/demo.css">
        <link rel="stylesheet" type="text/css" href="../css/transaction_editor.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/css/bootstrap-slider.css">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/bootstrap-slider.js"></script>


    <script type="text/javascript" src="../javascript/demo.js"></script>
    <script type="text/javascript" src="../javascript/Cookies.js"></script>
    <script type="text/javascript" src="../javascript/transaction_list.js"></script>

    <script type="text/javascript" src="../javascript/transaction_editor.js"></script>

    <script type="text/javascript" src="../javascript/bootstrap-slider-text-input.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/transaction_editor.css">
    <body>
    <div class="container">
        <form id="transaction_editor_form" class="user-form">
            <input type="hidden" name="id" id="transaction_id" />
            <input type="hidden" name="device_id" id="transaction_device_id"/>

            <div class="row">
                <div class="col-12">
                    <input type="hidden" id="transaction_heading_create" value="Create an action"/>
                    <input type="hidden" id="transaction_heading_update" value="Update an action"/>
                    <h3 class="mt-4" id="transaction_editor_mode_heading">Create Action Type</h3>
                    <hr class="mb-0"/>
                </div>
                <div class="col-12">
                    <div class="form-group mb-4" id="kindFormGroup">
                        <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input radio-button j-tx-kind" type="radio"
                                name="kind" id="kind_user_to_user" value="user_to_user" checked/>
                            <label class="radio-button-label" for="kind_user_to_user">
                            <span class="radio-button-circle"></span>User to User
                            </label>
                        </div>
                        <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input radio-button j-tx-kind" type="radio"
                                name="kind" id="kind_user_to_company" value="user_to_company" />
                            <label class="radio-button-label" for="kind_user_to_company">
                            <span class="radio-button-circle"></span>User to Company</label>
                        </div>
                        <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input radio-button j-tx-kind" type="radio"
                                name="kind" id="kind_company_to_user" value="company_to_user" />
                            <label class="radio-button-label" for="kind_company_to_user">
                            <span class="radio-button-circle"></span>Company to User</label>
                        </div>
                        <div class="invalid-feedback" data-forname="kind">&nbps;</div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="form-group" id="transaction_name_form_group">
                        <label class="form-label text-uppercase" data-forid="transaction_name">Action name</label>
                        <input id="transaction_name" type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter Action Name" required/>
                        <div class="invalid-feedback" data-forid="transaction_name">&nbps;</div>
                    </div>
                </div>
                <div class="col-4"></div>


                <div class="col-12 form-group mt-4 mb-0">
                <label class="form-label ">ARBITRARY AMOUNT AT EXECUTION
                    
                    <a href="https://help.ost.com/support/solutions/articles/35000059260-how-do-you-set-transaction-values"
                        target="_blank" class="text-uppercase card-link hover-link">Learn More</a>
                    

                </label>
                </div>

                <div class="col-12">
                    <div class="form-group" id="value_action_amount">
                        <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input radio-button  j-action-amount-setting" type="radio"
                                    name="arbitrary_amount" id="amount_set_before_execution" value="true" />
                            <label class="radio-button-label" for="amount_set_before_execution">
                            <span class="radio-button-circle text-capitalize"></span>On</label>
                        </div>
                        <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input radio-button j-action-amount-setting" type="radio"
                                    name="arbitrary_amount" id="amount_set_here" value="false" checked/>
                            <label class="radio-button-label" for="amount_set_here">
                            <span class="radio-button-circle text-capitalize"></span>Off</label>
                        </div>
                        <div class="invalid-feedback" data-forname="arbitrary_amount">&nbps;</div>
                    </div>
                </div>
            </div>


            <div class="row" id="j-action-amount-wrap">
                <!--<div class="col-4">-->
                    <!--<div class="form-group" id="transaction_value_in_fiat_form_group">-->
                        <!--<label class="form-label text-uppercase" data-forid="transaction_name">Action amount (fiat_display_text )</label>-->
                            <!--<input id="value_in_fiat" type="number" name="amount"-->
                            <!--class="form-control" aria-describedby="emailHelp" max="100"-->
                            <!--step="0.01" min="0.01" data-ost-num-autocorrect-element-->
                            <!--placeholder="Action amount (fiat_display_text )" required/>-->
                            <!--<div class="invalid-feedback" data-forid="value_in_fiat">&nbps;</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="col-8">
                    <div class="form-group mt-4" id="value_in_bt_form_group">
                        <label class="form-label text-uppercase" data-forid="transaction_name">Action amount ( bt_symbol)</label>
                        <input id="value_in_bt" type="number"
                            name="amount" class="form-control"
                            step="0.00001" min="0.00001"
                            data-ost-num-autocorrect-element
                            aria-describedby="emailHelp" placeholder="Action amount ( bt_symbol)" value="10.00014" required/>
                        <div class="invalid-feedback" data-forid="value_in_bt">&nbps;</div>
                    </div>
                </div>

                <div class="col-2 mt-2">
                    <input type="hidden" name="value_in_ost" id="value_in_ost" value="7.5" />
                    <div style="margin-top: 2px;">
                        <!--<div class="card mocker-card <%= card_classes %> ">-->
                            <!--<div class="card-body">-->
                                <!--<div class="ost-mocker-header">AMOUNT IN OST</div>-->
                                <!--<div class="ost-mocker-value-wrap">-->
                                    <!--<div class="ost-mocker-value-pre"></div>-->
                                    <!--<div class="ost-mocker-value" data-type="<%= raw mock_type %>" data-ost-mock-element="<%= raw mock_selector %>">15.898</div>-->
                                    <!--<div class="ost-mocker-value-post"></div>-->
                                <!--</div>-->
                                <!--<div class="ost-mocker-footer"></div>-->
                            <!--</div>-->
                        <!--</div>-->


                    </div>
                </div>
            </div>


            <div class="row" id="commission-options-row">
                <div class="col-12 form-group mt-4 mb-0">
                    <label class="form-label">
                        ARBITRARY COMMISSION AT EXECUTION
                    
                        <a href="//help.ost.com/support/solutions/articles/35000059259-what-are-fees-on-transactions"
                            target="_blank" class="text-uppercase card-link hover-link">Learn More</a>
                        

                    </label>
                </div>


                <div class="col-12">
                    <div class="form-group" id="has_commission_group">
                        <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input radio-button j-has-commission" type="radio"
                                    name="arbitrary_commission" id="charge_fees_before_execution" value="true" />
                            <label class="radio-button-label" for="charge_fees_before_execution">
                            <span class="radio-button-circle text-capitalize"></span>On</label>
                        </div>
                        <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input radio-button j-has-commission" type="radio"
                                name="arbitrary_commission" id="charge_fees_here" value="false"  checked/>
                            <label class="radio-button-label" for="charge_fees_here">
                            <span class="radio-button-circle text-capitalize"></span>Off</label>
                        </div>

                
                        <div class="invalid-feedback" data-forname="has_commission">&nbps;</div>
                    </div>
                </div>


                <div class="col-12" id="commission_percent_wrap">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mt-4 mb-0">
                            <label class="form-label" for="commission_percent">SET COMMISSION IN %
                                <span class="text-lowercase">(<span class="text-capitalize">The</span> commission will be added on top of the action amount)</span>
                            </label>
                            </div>
                        </div>
                        <div class="col-8">
                           <!-- slider starts -->
                            <div class="form-group" id="<%=id%>_slider_form_group">
                                <label class="form-label" for="<%=id%>"></label>

                                <div class="input-group slider-with-input right d-flex align-items-center mt-4 mb-3 slider-primary">
                                    <input
                                            type="text"
                                            id="commission_percent_slider"
                                            data-provide="slider"
                                            data-slider-min="0"
                                            data-slider-max="100"
                                            data-slider-step="0.01"
                                            data-slider-value="1"
                                            data-slider-tooltip="show"
                                            >
                                    <!--<% if defined? ticks %>data-slider-ticks="<%=ticks.to_s%>"<% end %>-->
                                    <!--<% if defined? ticks_labels %>data-slider-ticks-labels='<%=raw ticks_labels.to_s%>'<% end %>-->
                                    <!--&gt;-->

                                    <span class="slider-input-right">
                                        <div class="input-group">

                                            <!--<span class="input-group-prepend">-->
                                                <!--<span class="input-group-text">-->
                                                <!--</span>-->
                                            <!--</span>-->

                                        <input type="number" class="form-control" id="commission_percent" name="commission_percent"
                                               min="0" max="100" step="0.1" value="1" />
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                %</span>
                                            </span>

                                        </div>
                                    </span>
                                </div>
                                    <div class="d-flex align-items-center" style="margin-top: -20px; font-size: 12px;">
                                        <div style="flex-grow: 1; max-width: 100%; color: #597a84">
                                            <span class="text-left">0 % </span>
                                            <span class="text-right float-right">100 %</span>
                                        </div>
                                        <div class="slider-input-right"></div>
                                    </div>
                                    <div class="invalid-feedback" data-forname="<%=name%>">&nbps;</div>
                            </div>

                            <!-- slider ends -->
                            <input type="hidden" name="commission_in_bt" id="commission_in_bt" value="5" />
                            <input type="hidden" name="commission_in_fiat" id="commission_in_fiat" value="1.5" />
                        </div>

                        <!--<div class="col-4" id="j-mocker-content-wrap">-->
                            <!--<div class="row">-->
                                <!--<div class="col-6 mt-1">-->
                                    <!--<div class="card mocker-card <%= card_classes %> ">-->
                                        <!--<div class="card-body">-->
                                            <!--<div class="ost-mocker-header">AMOUNT IN BT</div>-->
                                            <!--<div class="ost-mocker-value-wrap">-->
                                                <!--<div class="ost-mocker-value-pre"></div>-->
                                                <!--<div class="ost-mocker-value" data-type="<%= raw mock_type %>" data-ost-mock-element="<%= raw mock_selector %>">15.898</div>-->
                                                <!--<div class="ost-mocker-value-post"></div>-->
                                            <!--</div>-->
                                            <!--<div class="ost-mocker-footer"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="col-6 mt-1">-->
                                    <!--&lt;!&ndash;<div class="card mocker-card <%= card_classes %> ">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="ost-mocker-header">header</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="ost-mocker-value-wrap">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<div class="ost-mocker-value-pre"></div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<div class="ost-mocker-value" data-type="<%= raw mock_type %>" data-ost-mock-element="<%= raw mock_selector %>">15.898</div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<div class="ost-mocker-value-post"></div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="ost-mocker-footer"></div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>

            <div class="row">

                
                <div class="col-12">
                    <button id="transaction_editor_submit_btn" type="submit" data-submiting="Adding..." 
                        class="mt-4 btn btn-gold d-inline-block float-left">ADD Action</button>
                    <a id="transaction_editor_cancel_btn" href="javascript:void(0)"
                    class="mt-4 ml-4 btn ost-btn-secondary d-inline-block float-left">CANCEL</a>
                </div>
                <div class="col-12">
                    <div class="mt-5 mb-5" style="height: 20px" ></div>
                </div>
            </div> <!-- Row Ending -->
        </form>
    </div>

</body>
</html>
